/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #fff url('../images/body_bg.gif') top repeat-x;
  
}
.container-fluid {
    background:#fff;
}
.container {
    width: auto;
    max-width: 960px;
    padding: 0 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
  font-size : 12px;
  border-top: 3px solid #921701;
}
.footer a {
  color: #000;
}
.container .text-muted {
  color:#000 !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.navbar {
  margin-bottom:0px;
}
.navbar-red {
    background-color: #921701;
    border-color: #921701;
}
.nav>li>a {
  color:#fff;
  font-weight:bold;
}
.nav>li>a:hover {
  background:#791200;
}
.top-banner {
  position:relative;
  height:92px;
  background: url('../images/logo1-new.jpg') no-repeat center 10px;

}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 0px;
    border-bottom: 1px solid #eee;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.jumbotron {
  margin-top:30px;
}
.eac-square input {
  background-image: url("images/icon_search.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
