@charset "utf-8";
body { margin:0; padding:0; width:100%;  background: url(images/main_bg.gif) top center; }
html { padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px dashed #818181; padding:0; margin:10px 0; background:none; list-style:none;}
p.clr, .clr { clear:both; padding:0; margin:0;}
.main { margin:0 auto; padding:0;}

/* header */
.header_resize { margin:0 auto; padding:0; width:920px;}
.header { margin:0; padding:0; background: url(images/header_bg.gif) top repeat-x;}
/* logo */
.logo { width:920px; margin:0 auto; padding:0; float:left; height:234px;}
h1 { margin:0; padding:100px 0 80px; color:#fff; font:normal 40px/1.2em Arial, Helvetica, sans-serif; text-align:center; background:url(images/logo1.jpg) no-repeat center 10px; height:225px;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { font-weight:bold; color:#ffea00;}
h1 small { font:normal 12px/1.2em Arial, Helvetica, sans-serif;}
/*menu*/
.menu { padding:10px 0 0 0; margin:0 ; width:410px;  float:left; }
.menu ul {  padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:10px 0; color: #fff; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a span { padding:10px 15px; background:none;}
.menu ul li a:hover {  background: url(images/r_menu.gif) no-repeat right;}
.menu ul li a:hover span {   background:url(images/l_menu.gif) no-repeat left;}
.menu ul li a.active {  background:url(images/r_menu.gif) no-repeat right;}
.menu ul li a.active span {  background:url(images/l_menu.gif) no-repeat left;}
/*body*/
.body_resize { margin:0 auto; padding:30px 0 0 0; width:920px;}
.body { margin:0; padding:0;  background:#fff url(images/body_bg.gif) top repeat-x;}
.body h2 {  font: normal 30px Arial, Helvetica, sans-serif; color:#464646; padding:5px; margin:0 0 10px 0; }
.body h2 span { color:#bb2024;}
.body p { font: normal 12px Arial, Helvetica, sans-serif; color:#464646; padding:5px; margin:0; line-height:1.8em;}
.body p span { font: bold 14px Arial, Helvetica, sans-serif; color:#4b4b4b; padding:0; margin:0;}
.body img { float:left; 
border: 1px solid #CDCDCD;
	padding: 1px;
	margin: 0 15px 5px 15px;
}
.body img.floated { float:left; margin:5px 10px 5px 0; padding:0;}
.body a { color:#bb2024; text-decoration:underline;}
.left { float:left; width:630px; margin:0; padding:0 0 20px 0;}
.right { float:right; width:240px; margin:0; padding:0 0 20px 0;}
.right ul { list-style:none; margin:5px 10px; padding:0;}
.right img { border: 0px;
	margin: 2 2px 2px 2px;
}
.right li {  background: url(images/ul_li.gif) 10px 10px no-repeat; font: normal 14px Arial, Helvetica, sans-serif; color:#464646; padding:5px 0; margin:3px 0;}
.right li a {  padding:0 0 0 25px; margin:0; font: normal 14px Arial, Helvetica, sans-serif; color:#404a52; text-decoration:none;}
.right li a:hover { color:#9eaf06; text-decoration:none; }
.right ul.sponsors { list-style:none; margin:5px 10px; padding:0;}
.right li.sponsors { background:none; font: normal 11px Arial, Helvetica, sans-serif; color:#404a52;  border-bottom:1px dashed #6d6d6d; padding:5px 0;}
.right li.sponsors a {  padding:0 0 0 0px; margin:0; font: normal 14px Arial, Helvetica, sans-serif; color:#404a52; text-decoration:none;}
.right li.sponsors strong { color:#9eaf06;}
.right ul { list-style:none; margin:5px 10px; padding:0;}
.right img { border: 0px;
	margin: 2 2px 2px 2px;
}
.left li {  background: url(images/ul_li.gif) 10px 10px no-repeat; font: normal 14px Arial, Helvetica, sans-serif; color:#464646; padding:5px 0; margin:3px 0;}
.left li a {  padding:0 0 0 25px; margin:0; font: normal 14px Arial, Helvetica, sans-serif; color:#404a52; text-decoration:none;}
.left li a:hover { color:#9eaf06; text-decoration:none; }
.left ul { list-style:none; margin:5px 10px; padding:0;

/* search */
.search { padding:13px 0 0 0; margin:0 auto;}
.search form { float:left; padding:0; margin:0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) top no-repeat;  width:165px; padding:1px 5px; height:31px; border-left:1px solid #d7d7d7;}
.search form .keywords {  line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:bold 12px Arial, Helvetica, sans-serif; color:#464646;}
.search form .button { float:left; margin:0; padding:0;}
/* FBG */
.FBG_resize { margin:0 auto; padding:0; width:920px; border-top:2px solid #bb2024;}
.FBG { margin:0; padding:0;}
.FBG img { float:left; margin:5px 10px 5px 0; padding:0;}
.FBG h2 {  font: normal 30px Arial, Helvetica, sans-serif; color:#464646; padding:5px; margin:0 0 10px 0; }
.FBG h2 span { color:#9eaf06;}
.FBG p { color:#4b4b4b; font: normal 12px Arial, Helvetica, sans-serif;  padding:5px 0; margin:0; line-height:1.8em;}
.FBG a  { color:#9eaf06; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif;}
.FBG ul { list-style:none; width:130px; float:left; padding:0; margin:10px 5px;}
.FBG li { padding:2px 1px; margin:0;}
.FBG li a { color:#9eaf06; font: normal 12px Arial, Helvetica, sans-serif;  text-decoration: underline;}
.FBG li a:hover { color:#4b4b4b; text-decoration:none;}
.FBG .blok { width:280px; float:left; padding:15px 11px; margin:0;}
/* footer */
.footer_resize { margin:0 auto; padding:25px 0; width:920px;  background: url(images/footer_bg.gif) top repeat-x;}
.footer {  padding:0; margin:0 auto;}
.footer p { color:#4b4b4b; font: normal 12px Arial, Helvetica, sans-serif; padding:0 0 0 5px; margin:0; line-height:1.8em;}
.footer p a { color:#505050; font: normal 12px Arial, Helvetica, sans-serif;}
/********** contact form **********/
#contactform { margin:0; padding:5px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#666; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { border:1px solid #000; background:#ea7d1b; padding:10px; margin:10px 0 0 110px;  color:#fff; float:left; font: normal 12px Arial, Helvetica, sans-serif;}
p.response { text-align:center; color:#F00; font: normal 11px Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto; }