body
{
	margin: 0 0 30px 0;
	padding: 0;
	background: #FFF;
	font-size: 75%;
	font-family: "arial", "verdana", "tahoma", "georgia", "trebuchet ms";
	color: #666;
}

img
{
	border: 0;
}

#container
{
	margin: 0 auto;
	width: 800px;
}

#headercont
{
	width: 800px;
	height: 100px;
	border-bottom: 2px solid #F90;
}

#headerleft
{
	float: left;
	width: 300px;
	height: 100px;
}

#headerleft h1
{
	margin: 48px 0 0 15px;
	padding: 0;
	font-size: 220%;
	font-weight: normal;
	color: #F90;
	letter-spacing: -1px;
}

#headerleft h1 span
{
	color: #FFC875;
	font-weight: normal;
}

#headerright
{
	float: left;
	width: 500px;
	height: 100px;
}

#headerright ul
{
	margin: 55px 15px 0 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
	color: #CCC;
}

#headerright ul li
{
	display: inline;
	margin: 0 0 0 10px;
}

#headerright ul li a
{
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

#headerright ul li a.active
{
	text-decoration: none;
	color: #F90;
	font-weight: bold;
}

#headerright ul li a:hover
{
	text-decoration: none;
	color: #333;
}

#maincont
{
	width: 800px;
	line-height: 160%;
	padding: 15px 0 0 0;
	border-bottom: 2px solid #F90;
}

#maincont p
{
	margin: 0 15px 15px 15px;
}

#maincont h2, h3
{
	margin: 0 0 15px 0;
	padding: 5px 15px;
	font-size: 120%;
	font-weight: normal;
	color: #F90;
	border-bottom: 1px solid #E5E5E5;
}

#mainleft
{
	float: left;
	width: 485px;
	padding: 0 15px 0 0;
}

#mainleft img
{
	
	border: 1px solid #CDCDCD;
	padding: 5px;
	margin: 0 15px 5px 15px;
}

#mainright
{
	float: left;
	width: 285px;
	padding: 0 0 0 15px;
}

#bottom
{
	clear: both;
	width: 800px;
}

#footercont
{
	float: left;
	width: 800px;
	height: 50px;
	color: #999;
}

#footercont p
{
	margin: 0;
	padding: 15px;
}

#footercont a
{
	color: #999;
	text-decoration: none;
}

#footercont a:hover
{
	color: #F90;
	text-decoration: none;
}

#footerleft
{
	float: left;
	width: 300px;
	height: 50px;
}

#footerright
{
	float: left;
	width: 500px;
	height: 50px;
	text-align: right;
}